@import url('./main-layout.css');
@import url('./views/merge-playlists-view.css');
    [theme~="dark"] {
      --lumo-base-color: hsl(214, 11%, 7%);
      --lumo-primary-color: rgb(29, 185, 84);
      --lumo-primary-color-50pct: rgba(29, 185, 84, 0.5);
      --lumo-primary-color-10pct: rgba(29, 185, 84, 0.1);
      --lumo-primary-text-color: hsl(214, 100%, 99%);

    }
